<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Comics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="APIs.js"></script>
    <link rel="stylesheet" type="text/css" href="normalize.css"></link>    
    <link rel="stylesheet" type="text/css" href="sakura-earthly.css"></link>
     <link rel="stylesheet" href="main.css">
	
	
  </head>
  <body ng-app="MarvelApp">   
    <div ng-controller="MainController" ng-init="GetSeries()">  
      <div class="Main">
              <input ng-model="startswith" type="text" placeholder="startswith"/>
              <button ng-click="GetSeries()">Get Series</button> </br>
              <select ng-model="selectedseries">
                <option ng-repeat="serie in serieslist" value={{serie.id}}>{{serie.title}} : {{serie.id}}</option>
              </select>
              <button ng-click="GetComics()">update</button> 
              <select ng-model="limit">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select></br>
              <ul class="comic-list">
                <li ng-repeat="comic in comiclist" class="comic"> 
                    <span class="comic__title" ng-click="ShowCharacters(comic.id)">{{ comic.title }} : {{comic.id}}</span>
                    <div class="comic-art">
                        <img class="comic__thumbnail" ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"/>
                    </div>
                    <div class="comic-information">
                        <p class="comic__description">{{comic.description}}</p>
                    </div>
                    <div>
                        <ul class="characterlist">
                            <li ng-repeat="character in charlist[comic.id]">
                                <div class="wrapper">
                                    <img class="char__thumbnail" ng-src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"/>
                                    <p class="charactername">{{character.name}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </li>
              </ul>
      </div>
    </div>
  </body>
</html>
