body{
    background: #2c3e50;
    text-align: center;
}

.comic-list {
    padding: 20px 0 0 0;
    margin: 0;
    list-style-type: none;
    font-family: "Arial", sans-serif;
}
 
.comic {
    overflow: hidden;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: left;
}
 
.comic-art {
    float: left;
    width: 15%;
    margin-right: 5%;
 
}
.characterlist li {
    display: inline-block;
    margin-right: 15px;
}

.comic-information {
    float: left;
    width: 80%;
    text-align: left;
}
.comic__title {
    clear: both;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.wrapper{
    position: relative;
    margin-right: 5px;
    overflow: hidden;        
    height: 140px;
}
.wrapper img {
    height:100px;
}
.wrapper .charactername {
   opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
}
.wrapper:hover .charactername {
    opacity: 0.8;
} 
.comic__thumbnail .char__thumbnail {
    padding: 10px 0;
    margin-bottom: 0;
}
 
.comic__description {
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
}
.character__hint {
   text-decoration: none;
   font-size: 0.65em;
}
.character__hint:hover {
   text-decoration: underline;
}